.m1lky-navbar {
  position: fixed;
  height: 66px;
  width: 100%;
  z-index: 9;
  padding: 0 30px;
  border-bottom: 1px solid rgb(199, 199, 199);
  white-space: nowrap;
}

.navbar-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: 150px;
}

.navbar-brand__name {
  font-size: 30px;
  font-weight: 600;
}

.navbar-menu {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  &__item {
    padding: 20px 30px;
  }
}
