.m1lky-navbar {
  position: fixed;
  height: 66px;
  width: 100%;
  z-index: 9;
  padding: 0 30px;
  border-bottom: 1px solid rgb(199, 199, 199);
  white-space: nowrap;
}

.navbar-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: 100px;
}

.navbar-brand__name {
  position: relative;
  color: whitesmoke;
  font-size: 30px;
  font-weight: 800;
  padding: 30px 30px 0 30px;
  &::before,
  &::after {
    content: "M 1 L K Y";
    position: absolute;
    top: 0;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 30px 30px 0 30px;
  }
}

.navbar-brand__name::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

.navbar-brand__name::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

.navbar-menu {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  &__item {
    padding: 20px 30px;
  }
}

.navbar-user {
  display: flex;
  align-items: center;
  padding: 0 20px 0 40px;
  margin-left: auto;
  flex-shrink: 0;
  gap: 0 36px;
  svg {
    font-size: 22px;
    width: 22px;
    flex-shrink: 0;
  }
}

.notification {
  position: relative;
  &-number {
    position: absolute;
    background-color: #ff3377;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    right: -6px;
    top: -6px;
    border: 1px solid #fff;
  }
}

.profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes glitch-animation-1 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(150) + px, 350px, random(150) + px, 30px);
    }
  }
}

@keyframes glitch-animation-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(150) + px, 350px, random(150) + px, 30px);
    }
  }
}
